<header class="contenidoH">
  <!-- Video de fondo -->
  <video
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    class="video-background"
    aria-label="Video de presentación de PlaxtiLineas"
  >
    <source src="assets/img/header.mp4" type="video/mp4" />
    Tu navegador no soporta la etiqueta de video.
  </video>


  <div class="header-content">
    <!-- Logo a la izquierda -->
    <div class="logo-container">
      <a routerLink="/" aria-label="Ir a la página de inicio">
        <img src="assets/img/logo.png" alt="Logo de PlaxtiLineas">
      </a>
    </div>

    <!-- Texto y botón a la derecha -->
    <div class="text-container">
      <p>
        <strong>PLAXTILINEAS</strong> ofrece insumos esenciales con calidad y soluciones innovadoras,
        adaptándose a cada cliente. <em>Convertimos desafíos en oportunidades.</em>
      </p>
      <div class="btn-home">
        <a routerLink="/nosotros" class="btn2" aria-label="Conocer más sobre nosotros">
          <span class="spn2">Nosotros</span>
        </a>
      </div>
    </div>
  </div>
</header>
