# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*
.DS_Store
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
workspace.xml
.idea_modules/

# VS Code
.vscode/
.history/
*.code-workspace

# Sistema operativo
Thumbs.db
.DS_Store

# Archivos de base de datos
*.sqlite
*.sql
*.db

# Archivos de compilación
dist/
build/
*.exe
*.out
*.app

# Caché y archivos temporales
coverage/
tmp/
temp/

# En tu archivo .gitignore
.env

# Base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=plaxtilineas

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Puerto del servidor
PORT=4000

# Otros secretos
JWT_SECRET=clave_secreta_para_tokens
ADMIN_KEY=clave_admin_para_postman
