<!-- Botones de Redes Sociales -->
<a href="https://www.facebook.com/p/Plaxtilineas-100080040966300/" 
    class="social-button facebook-button" 
    target="_blank" 
    rel="noopener noreferrer nofollow"
    aria-label="Síguenos en Facebook"
    title="Síguenos en Facebook">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook">
</a>

<a href="https://www.instagram.com/plaxtilineas/" 
    class="social-button instagram-button" 
    target="_blank" 
    rel="noopener noreferrer nofollow"
    aria-label="Síguenos en Instagram"
    title="Síguenos en Instagram">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
</a>

<a href="https://wa.me/+573006680125?text=Hola, necesito ayuda"" 
    class="whatsapp-button" 
    target="_blank" 
    rel="noopener noreferrer nofollow"
    aria-label="Chatea con nosotros por WhatsApp"
    title="Chatea con nosotros por WhatsApp">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
    <div class="notification">1</div> <!-- Notificación -->
</a>
<!-- Mensaje emergente -->
<div class="help-message" id="helpMessage">¿Necesitas ayuda?</div>

<!-- Datos estructurados para redes sociales -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Espumas y Plásticos",
  "url": "https://tusitio.com",
  "sameAs": [
    "https://www.facebook.com/profile.php?id=100080040966300",
    "https://www.instagram.com/plaxtilineas/",
    "https://wa.me/1234567890"
  ]
}
</script>
