<!-- modal-producto.html -->
<div id="modal-producto" class="modal">
  <div class="modal-content modal-flex">
    <span id="cerrar-modal" class="modal-close">&times;</span>
    
    <!-- Lado izquierdo: imagen -->
    <div class="modal-left">
      <img id="modal-imagen" class="modal-imagen" src="" alt="Imagen del producto" />
    </div>

    <!-- Lado derecho: texto -->
    <div class="modal-right">
      <h2 id="modal-nombre">Nombre del producto</h2>
      <p id="modal-unidad-precio">💰 Unidad $0</p>
      <p id="modal-descripcion">Descripción del producto</p>
    </div>
  </div>
</div>
