<!-- Sección Destacada - Beneficios de Compra -->
<section class="seccion-beneficios">
  <div class="beneficio">
    <i class="fas fa-tags"></i>
    <div class="texto-beneficio">
      <h3>Mejor oferta en línea</h3>
      <p>Encuentra descuentos !</p>
    </div>
  </div>
  
  <div class="beneficio">
    <i class="fas fa-shipping-fast"></i>
    <div class="texto-beneficio">
      <h3>Envío a todo el País</h3>
      <p>Garantía y seguridad !</p>
    </div>
  </div>
  
  <div class="beneficio">
    <i class="fas fa-shopping-cart"></i>
    <div class="texto-beneficio">
      <h3>Compra fácil y seguro</h3>
      <p>En línea logras promociones !</p>
    </div>
  </div>
</section>
