<section class="marcas-aliadas">
  <h2>Distribuidores Oficiales de:</h2>
  <div class="brands-container">
    <img src="assets/img/logo-plastextil.png" alt="Plastextil" class="brand-logo">
    <img src="assets/img/espumas_santafe.png" alt="Espumas Santafé" class="brand-logo">
    <img src="assets/img/espumas_medellin.png" alt="Espumas Medellín" class="brand-logo">
    <img src="assets/img/Testicol.png" alt="Testicol" class="brand-logo">
    <img src="assets/img/POLYLON.png" alt="Polylon" class="brand-logo">
    <img src="assets/img/grupoExcala.png" alt="Grupo Excala" class="brand-logo">
    <img src="assets/img/logo-pegatex.png" alt="Pegatex" class="brand-logo">
    <img src="assets/img/preflex.png" alt="Preflex" class="brand-logo">
  </div>
</section>
